.Button-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.Btn-Sub-Container {
    position: relative;
    display: inline-block;
    text-align: left;
}

.main-button-wrap {
    background-color: rgb(231, 231, 231);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
}

.main-button-wrap button:focus {
    outline: none;
}

.main-button-wrap button {
    color: rgb(0, 0, 0);
}

.react-sping-ani-wrap {
    margin-top: 10px;
}

.DropDown-Btn-Wrap {
    background-color: #2980b9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
    padding: 20px;
    border-top: 3px solid #FF9209;
}

.DropDown-Btn-Wrap:before {
    content: '';
    position: absolute;
    top: -0.75rem;
    left: 2rem;
    border: solid 0.75rem #FF9209;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}

.DropDown-sub-Wrap {
    padding: 5px;
}

.single-button-style {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px 0px;
}
.single-button-style:hover {
    color: #FF9209;
}